<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="icon" href="./img/icon.webp">
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    {{>header}}
    <div class="main-content">
      <p>This site was created by Aadesh Wasamkar . It uses data from weatherapi.com</p> 
    </div>
    <img src="./img/Aadesh33.jpg" />
    {{>footer}}
  </body>
</html>