<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>weather</title>
    <link rel="icon" href="./img/icon.webp">
    <link rel="stylesheet" href="./css/style.css" />
    
  </head>
  <body>
    {{>header}}
    <div class="main-content">
      <h3>You can check weather forecast</h3>
      <form>
        <input type="text" placeholder="location">
        <button>search</button>
      </form>
      <p id="messageOne" style="color: rgb(42, 93, 169);"></p>
      <p id="messageTwo"  style="color: rgb(42, 93, 169);"></p>
      <p id="messageThree"  style="color: rgb(42, 93, 169);"></p>
      <p id="messageFour"  style="color: rgb(42, 93, 169);"></p>
    </div>
    {{>footer}}
    <script src="./js/app.js"></script>
  </body>
</html>